ul {
  margin-top: 2px;
  list-style: none;
  display: flex;
}
.page-number {
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 20px;
  margin-inline: 2px;
  text-align: center;
  border: 1px solid green;
  border-color: transparent;
}
ul li:hover {
  background-color: #22c511;
}

.previous-next {
  display: flex;
  justify-content: center;

  width: 25rem;
}

.prev,
.next {
  margin-top: 1px;
  cursor: pointer;
  padding: 2px;
  font-size: 17px;
  padding: 5px;
}
.prev:hover,
.next:hover {
  color: #3f563c;
}
.active {
  border-color: green;
}
